<p class=milestones>

  <%= form.fields_for :milestones do |ms| %>
    <p>
      <%= ms.label :milestone_description, 'Milestone Description'  %> </br>
      <%= ms.text_field :description %> </br>
      <%= ms.hidden_field :_destroy %> </br>

    </p>
  <%end%>
</p>
